#bg {
    width: 2000px;
    height: 2000px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

#home {
    clip-path: url(#cache);
}

#red {
    fill: none;
    opacity: 0.15;
    stroke: rgba(151, 19, 70, 0.8);
    stroke-width: 12;
    stroke-miterlimit: 10;
    animation: show 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#blue {
    fill: none;
    opacity: 0.15;
    stroke: #f71586ef;
    stroke-width: 12;
    stroke-miterlimit: 10;
    animation: show 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#light-blue {
    fill: none;
    opacity: 0.15;
    stroke: rgb(6, 120, 196);
    stroke-width: 6;
    stroke-miterlimit: 10;
    stroke-dasharray: 200;
    stroke-dashoffset: 800;
    animation: draw 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes show {
    0% {
        opacity: 0.15;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 0.15;
    }
}

@media (max-width:600px) {
    .form-container {
        max-width: 501px;
        width: 70%;
        padding: 2.5em;
    }
}