body {
    background-color: black;
}

* {
    font-family: arial;
}

#body_container {
  display: none;
}

.maincontainer {
  margin-top: 60px;
}

.navbar {
    overflow: hidden;
    background-color: black;
    margin: 20px 0px 0px 140px;
  }
  
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }


  #logoutBtn {
    font-size: 16px;
    color: white;
    padding: 14px 16px;
    float:right;
  }
  
  #logoutBtn:hover, #user_name:hover{
    border-bottom:2px solid #FF69B4;
    cursor: pointer;
  
  }
  
  #user_name {
    float: right;
    font-size: 16px;
    color: white;
    padding: 14px 16px;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px; 
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    color: white;
 
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    border-bottom: 2px solid #FF69B4;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    width: 40%;
    z-index: 1;
  }  
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  

  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    background-color: #696969	;
    height: 165px;
  }
  
  .column a {
    float: none;
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 14px;
  }
  
  .column a:hover {
    background-color:  #FF69B4;
  }
  
  
  .row:after {
    content: " ";
    display: table;
    clear: both;
  }
  
a.username {
      font-size: 16px;
      font-weight: bold;
      color: white;   
      text-decoration: none;
      position: absolute;
      margin: -35px 0px 0px 1080px;
  }

#avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: right;
    margin: 0px 30px 0px 0px;
}

* {
    box-sizing: border-box;
  }

  .rowpic {
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    padding: 0 20px;
    margin: 0px 0px 0px 50px;
  }
  
  .columngrid {
    -ms-flex: 25%; 
    flex: 25%;
    max-width: 200px;
    padding: 0 10px;
  }
  
  .columngrid img {
    margin-top: 70px;
    vertical-align: middle;
    width: 90%;
  }
  
  
  @media screen and (max-width: 800px) {
    .columngrid {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
 
  @media screen and (max-width: 600px) {
    .columngrid {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }

  .container {
    position: relative;
    width: 100%;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top:50%;
    left: 50%;
    text-align:center;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    color:#FF69B4;
    font-size: 20px;
    font-weight: bold;
    padding: 16px 32px;
  }

.rating {
  margin:auto;
}

.rate {
  font-size: 14px;
  color:white;
  margin:auto;
}

.checked {
    color: yellow;
    width: 2px;
    height: 2px ;
    margin:5px;
}

.pagination {
  display: inline-block; 
}

.pagination a {
  color: white;
  float: left;
  padding: 10px 18px;
  text-decoration: none;

}

.pagination a.active {
  background-color: #FF69B4;
  color: white;
  font-weight: bold;
  border-radius: 7px;
  
}

.pagination a:hover:not(.active) {
  background-color:#FF69B4;
  border-radius: 7px;
}

.center {
  text-align: center;
  margin: 50px 0px 0px 0px;
}

#footer {
  font-family: arial; 
  font-size: 12px;
  color: white; 
  text-align: center;
  margin-top: 60px;
}

#searchbox {
  width: 200px;
  height: 30px;
  justify-content: flex-end;
}

input:focus {
	border-bottom: 3px solid #FF69B4;
	outline: none;
}

#searchBox {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0px 50px 20px 0px;
}

#searchbtn:active {
  background-color: darkgray;
}

.rowpictop {
  padding: 0 20px; 
}

.columngridtop {
  max-width: 200px;
  padding: 0 10px;
}

.columngridtop img {
  margin-top: 58px;
}


@media screen and (max-width: 800px) {
  .columngridtop {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}


@media screen and (max-width: 600px) {
  .columngridtop {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

.topmovies {
  font-size: 22px;
  text-decoration: underline;
  font-weight: bold;
  color: white;  
}

#mainFlexBox {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}





