*{
	transition: ease .3s;
}

nav{
	display: flex;
	flex-direction: row;
	justify-content: space-between ;
	align-items: flex-end;
	padding: 0 30px;
	color: white;
	height: 60px;
}

nav p{
	margin: 0;
}

nav ul{
	margin: 0;
	padding: 0;
}

nav ul li{
	display: inline-block;
	margin: 0 10px;
	font-size: 14px;
}

nav ul li:nth-child(3){
	background: #FF69B4; 
	padding: 10px;
	border-radius: 3px;
}

.nav-link{
	color: white;
	text-decoration: none;
	letter-spacing: 1.5px;
	transition: ease .4s;
}

.brand{
	font-size: 40px;
	color: #FF69B4;
}

.hamburger {
	position: relative;
	z-index: 20;
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}


@media (max-width: 1000px) {
	.flex-container{
		justify-content: center;
	}
	.image-login{
		display: none;
	}
}

@media (max-width: 768px) {

	.nav-menu {
        position: fixed;
        right: -100%;
        top: 0;
		justify-content: center;
		display: flex;
		flex-direction: column;
        width: -webkit-fill-available;
		height: 100%;
        text-align: center;
        transition: 0.3s;
		background: black;
		z-index: 9;
    }

	nav ul li{
		width: fit-content;
		margin: 1em auto;
		letter-spacing: 3px;
		font-size: 1.5em;
		font-weight: 400;
	}

	
	nav ul li:nth-child(3){
		background: none;
		padding: 0;
	}

	nav ul li:hover a{
		color: #F86B86;
	}

	nav ul li:after {
		content: '';
		position: absolute;
		left: 50%;
		display: inline-block;
		height: 1em;
		width: 15%;
		border-bottom: 2px solid #F86B86;
		text-align: center;
		margin-top: 10px;
		opacity: 0;
		-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
		transition: opacity 0.35s, transform 0.35s;
		-webkit-transform: scale(0,1) translateX(-50%);
		transform: scale(0,1) translateX(-50%);
	}
	
	nav ul li:hover:after{
		opacity: 1;
		-webkit-transform: scale(1) translateX(-50%);
		transform: scale(1) translateX(-50%);
	}
	
	.nav-link{
		color: rgb(78, 78, 78);
		text-decoration: none;
	}

	.nav-menu.active {
        right: 0;
    }

	

	.hamburger {
		
		display: block;
	}

	.hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}