html,
body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: black;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    transition: ease 0.3s;
    word-wrap: break-word;
}

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: rgb(43, 43, 43);
}

 ::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(43, 43, 43);
}

 ::-webkit-scrollbar-thumb {
    background-color: #FF69B4;
    border: 2px solid #FF69B4;
}

#movie-player {
    width: 100%;
    height: 100vh;
    background: black;
}

#video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 100%;
    z-index: 5;
}

#video::-webkit-media-controls {
    display: none;
}

#playpause {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    display: flex;
}

#left-previous,
#right-forward {
    width: 45vw;
    height: 80vh;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.7);
    font-size: 2.5em;
}

.fp-label {
    font-size: 0.5em;
    margin: 0 10px;
}

#playpause-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background: rgba(0, 0, 0, 0.3);
    font-size: 60px;
    color: rgba(255, 255, 255, 0.7);
    height: 100px;
    width: 100px;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#upper-container,
#back-arrow {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.7);
    background: linear-gradient( 180deg, hsla(0, 0%, 0%, 0.7) 0%, hsla(0, 0%, 100%, 0) 100%);
    z-index: 10;
    min-height: 3em;
}

#upper-container {
    position: relative;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#back-arrow {
    position: relative;
    width: 7vw;
    font-size: 30px;
    justify-content: center;
    background: none;
}

#upper-container h1 {
    font-size: 1.5em;
    letter-spacing: 1px;
}

#lower-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.7);
    background: linear-gradient( 360deg, hsla(0, 0%, 0%, 0.7) 0%, hsla(0, 0%, 100%, 0) 100%);
    z-index: 10;
    min-height: 5em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.seekbar-time-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#volume-button,
#brightness-button {
    font-size: 1.7em;
    margin-left: 1em;
    margin-right: 0.7em;
}

#brightness-button {
    margin-left: 0.7em;
}

#volume-button:hover,
#brightness-button:hover {
    color: white;
}

#brightness-rocker,
#volume-rocker {
    font-size: 20px;
    padding-right: 10px;
}

.volume-brightness-container {
    display: flex;
    align-items: center;
}

.volume,
.brightness {
    display: none;
    align-items: center;
}

#volume-slider,
#brightness-slider {
    position: relative;
    display: block;
    height: 5px;
    width: 100px;
    background: #555;
    border-radius: 15px;
}

#volume-slider .ui-slider-range-min,
#brightness-slider .ui-slider-range-min {
    height: 5px;
    width: 300px;
    position: absolute;
    background: white;
    border: none;
    border-radius: 10px;
    outline: none;
    z-index: 10;
}

#volume-slider .ui-slider-handle,
#brightness-slider .ui-slider-handle {
    width: 10px;
    height: 10px;
    border-radius: 20px;
    background: #fff;
    position: absolute;
    margin-left: -8px;
    margin-top: -3px;
    cursor: pointer;
    outline: none;
}

#custom-seekbar {
    cursor: pointer;
    height: 5px;
    overflow: hidden;
    position: relative;
    width: 70vw;
    border-radius: 5px;
    background: #555;
}

#custom-seekbar span {
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    width: 0px;
}

#time {
    display: inline;
    margin: 0;
    margin: 0 10px;
}

#fullscreen-button {
    font-size: 1.5em;
}

#fullscreen-button:hover {
    color: white;
}

#side-menu {
    position: absolute;
    right: -300px;
    top: 0;
    width: 300px;
    height: 99.5vh;
    z-index: 10000;
    background: rgba(27, 27, 27, 1);
    color: white;
    overflow-y: scroll;
    overflow-x: hidden;
}

.side-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1em;
}

.side-header h1 {
    font-size: 1.3em;
}

#hide-button {
    font-size: 1.5em;
    margin: 0;
}

#menu-button,
#party-button,
#party-message {
    font-size: 2em;
    margin: 0 20px;
}

#menu-button:hover,
#party-button:hover {
    color: #ff69b4;
}

.episodes-container {
    margin: 0 20px;
}

.season-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: rgba(255, 255, 255, 0.6);
}

.season-button.active {
    color: white;
}

.season-button:hover {
    background: rgba(255, 255, 255, 0.3);
}

.season {
    display: none;
}

.season div {
    padding: 0 10px;
}

.episode-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: ease .2s;
}

.episode-list:hover {
    background: #ff69b4;
    color: rgb(43, 43, 43);
}

.episode-list p {
    margin: 5px 0;
}

.right-button {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#messages-container {
    padding: 20px;
    position: absolute;
    width: 400px;
    height: 100vh;
    top: 0;
    right: -400px;
    background: rgb(43, 43, 43);
    z-index: 101;
    color: white;
}

.messages {
    display: flex;
    flex-direction: column;
    min-height: 85%;
    max-height: 85%;
    overflow: scroll;
}

#send-button {
    display: flex;
    align-items: center;
    font-size: 20px;
}

#send-button:hover {
    color: #b14a7d;
}

hr {
    margin: 0;
}

#message-form {
    display: flex;
    margin: 10px 0;
}

#input-message {
    width: 95%;
    height: 30px;
    background: transparent;
    border: none;
    color: white;
}

#input-message:focus {
    outline: none;
}

.messages::-webkit-scrollbar {
    display: none;
}

#messages-container-hide {
    font-size: 20px;
}

.no-message {
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}

#messages-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.received,
.sender {
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: flex-start;
    max-width: 300px;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
}

.sender {
    align-self: flex-end;
    background-color: #FF69B4;
    color: black;
    flex-direction: row-reverse;
    text-align: right;
}

.received-messages,
.sender-messages {
    padding: 0 10px;
    margin: 0;
}

.name {
    padding: 0 10px;
    margin: 0;
    margin-bottom: 5px;
    font-size: 13px;
}

.user-avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

#toggle-messages {
    position: absolute;
    top: 50%;
    right: 0;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    background-color: rgb(43, 43, 43);
    color: white;
    font-size: 30px;
    z-index: 100;
    padding: 10px 0;
}

#start-button {
    position: absolute;
    right: 0;
    background: rgb(43, 43, 43);
    display: none;
    padding: 20px;
    z-index: 2000;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}

#start-button p {
    margin: 0;
}

.key-container {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.7);
}

.users {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-avatar {
    width: 30px;
    height: 30px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin-right: 10px;
}

.user-name {
    font-size: 13px;
}

.user-container {
    padding: 8px;
    display: flex;
    align-items: center;
}

.user-count {
    display: flex;
    align-items: center;
}

#modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    background: rgb(43, 43, 43);
    color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    z-index: 1000;
    transform: translate(-50%, -50%);
}

#start-playback {
    width: -webkit-fill-available;
    background: #ff69b4;
    padding: 10px 0;
    border: 0;
    letter-spacing: 2px;
    font-weight: 600;
}

#start-playback:hover {
    background: #b14a7d;
    color: white;
}

@media (max-width:800px) {
    #volume-button,
    #brightness-button {
        font-size: 1.2em;
        margin-left: .3em;
        margin-right: 0.5em;
    }
    #brightness-button {
        margin-left: 0.3em;
    }
    #custom-seekbar {
        width: 50vw;
    }
    #fullscreen-button {
        font-size: 1.2em;
    }
    #time {
        font-size: .7em;
    }
    #upper-container h1 {
        font-size: 1em;
    }
    #back-arrow {
        font-size: 20px;
    }
    #menu-button {
        font-size: 20px;
    }
    .volume,
    .brightness {
        max-width: 75px;
    }
    #brightness-rocker,
    #volume-rocker {
        font-size: 15px;
    }
    #left-previous,
    #right-forward {
        height: 40vh;
    }
}