@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
body,
html {
    padding: 0;
    margin: 0;
    background: black;
    color: white;
}

* {
    transition: ease .2s;
    font-family: "Webflix Sans Regular";
}

.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(43, 43, 43);
    width: 100%;
    max-width: 35%;
    padding: 3em;
    display: flex;
    justify-content: center;
}

#pass-form-success {
    display: none;
    height: 200px;
}

#pass-form-success a {
    color: #ff69b4;
    position: absolute;
    bottom: 40px;
    right: 40px;
    font-size: 1em;
}

h2 {
    margin: 0;
}

form {
    width: 100%;
}

input[type=email],
input[type=password] {
    border: none;
    width: -webkit-fill-available;
    padding: 10px;
    margin: 10px 0;
}

input[type=submit],
input[type=submit] {
    border: none;
    background: #ff69b4;
    padding: 10px;
    color: white;
}

input[type=submit]:hover,
input[type=submit]:focus {
    background: #b14a7d;
    color: black;
}

#user-email {
    text-align: center;
    background: rgba(0, 0, 0, .3);
    padding: 15px 0;
    border-radius: 5px;
    letter-spacing: 2px;
    font-family: 'Courier Prime', monospace;
}

.form-labels {
    margin-bottom: 0;
}

#bg {
    width: 1820px;
    height: 1080px;
    position: fixed;
    top: 0;
    left: 0;
}

#success-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: red;
    padding: 1em;
    z-index: 1000;
}

#home {
    clip-path: url(#cache);
}

#red {
    fill: none;
    opacity: 0.15;
    stroke: rgba(151, 19, 70, 0.8);
    stroke-width: 12;
    stroke-miterlimit: 10;
    animation: show 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#blue {
    fill: none;
    opacity: 0.15;
    stroke: #f71586ef;
    stroke-width: 12;
    stroke-miterlimit: 10;
    animation: show 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#light-blue {
    fill: none;
    opacity: 0.15;
    stroke: rgb(6, 120, 196);
    stroke-width: 6;
    stroke-miterlimit: 10;
    stroke-dasharray: 200;
    stroke-dashoffset: 800;
    animation: draw 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes show {
    0% {
        opacity: 0.15;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 0.15;
    }
}

@media (max-width:600px) {
    .form-container {
        max-width: 501px;
        width: 70%;
        padding: 2.5em;
    }
}